@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--p-surface-ground);
  color: var(--p-text-color);
  font-family: var(--p-font-family);
}
